:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
  --Gap: 30px;
}

.attribution {
  padding: 22px;
  font-family: 'tahoma';
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--Very-light-grayish-blue);
}

a {
  color: var(--Dark-grayish-blue);
  transition: 0.3s ease-in;
  text-decoration: none;
}

a:hover {
  color: var(--Blue);
  transition: 0.3s ease-out;
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: var(--Gap);
  border-radius: 15px;
  background-color: var(--White);
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  color: var(--Dark-grayish-blue);
}

.nav {
  display: flex;
  justify-content: space-between;
  text-align: top;
  padding-bottom: var(--Gap);
}

.nav h1 {
  padding: 0px 10px 0px 0px;
  margin: 0px;
  display: inline;
}

.nav span {
  background-color: var(--Blue);
  display: inline-block;
  width: var(--Gap);
  padding: 1px 0px 1px 0px;
  border-radius: 5px;
  color: var(--White);
  font-weight: bold;
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav .notification h1 {
  color: var(--Very-dark-blue);
}

.content div {
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
}

.bg.unread {
  background-color: var(--Very-light-grayish-blue);
}

.mark.unread::after {
  content: '\2022';
  color: var(--Red);
  width: 5px;
  height: 5px;
}

.content div img {
  max-width: 50px;
  max-height: 50px;
}

user-content {
  width: 100%;
}

user-name {
  color: var(--Very-dark-blue);
  font-weight: bold;
  padding-right: 5px;
}

user-message {
  padding-right: 5px;
}

.imgRefer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--Gap);
}

.imgRefer img {
  border: 3px solid transparent;
  border-radius: 10px;
}

.imgRefer img:hover {
  cursor: pointer;
  border-color: var(--Light-grayish-blue-2);
}

user-link1 a {
  color: var(--Dark-grayish-blue);
  font-weight: bold;
}

user-link1 a:hover {
  color: var(--Blue);
  font-weight: bold;
}

user-link2 a {
  color: var(--Blue);
  font-weight: bold;
}

user-link2 a:hover {
  color: var(--Blue);
  font-weight: bold;
}

user-post {
  display: block;
  color: var(--Grayish-blue);
  margin-top: 5px;
}

user-note {
  display: block;
  border: 1px solid var(--Light-grayish-blue-1);
  border-radius: 10px;
  padding: 20px;
  margin-top: 8px;
  transition: 0.3s;
}

user-note:hover {
  background-color: var(--Light-grayish-blue-1);
  cursor: pointer;
  transition: 0.3s;
}
